* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
}


.wrapper {
    padding: 30px 20px;
}
