* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
}


.wrapper {
    padding: 30px 20px;
}

.result-container div:not(:last-child) {
    margin-bottom: 5px;
}

.result-container div span:first-child {
    margin-right: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    bottom: 90px;
    right: 20px;
    visibility: visible;
}

.submit-container {
    height: 600px;
    width: 100%;
    padding: 20px;
    background-color: rgb(219, 235, 241);
    border: 1px solid black;
    transition: opacity 1s ease;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in;
}

.error-msg {
    margin-bottom: 10px;
    color: red;
}

.submit-container div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.close-btn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
}

.submit-container input,
.submit-container textarea {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.submit-container textarea {
    height: 100px;
    resize: none;
}

.submit-btn,
.help-btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(68, 66, 156);
    color: white;
}

.help-btn {
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
    right: 20px;
}