* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(47, 92, 189);
}

.wrapper {
    padding: 0 200px;
}



.game-name {
    margin-top: 50px;
    font-size: 50px;
    color: rgb(148, 143, 144);
    text-align: center;
}

section {
    padding: 20px;
}

.hp-section,
.img-section,
.action-section {
    display: flex;
    justify-content: space-between;
}

.img-section img {
    max-width: 300px;
}

.buttons-container {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.buttons-container div {
    padding: 10px;
    height: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: rgb(74, 33, 112);
    color: beige;
    border: none;
    border-radius: 10px;
}

.heal-error,
.attack-error {
    display: none;
    color: red;
}

.end-game-article {
    display: none;
    text-align: center;
}

.co-op-winner {
    display: none;
}

.player-winner {
    display: none;
}

.player-winner img {
    width: 300px;
}

.combat-log {
    padding-top: 100px;
    display: none;
}

.turn-log {
    padding: 20px;
    display: flex;
    flex-direction: column;
}